---
import BilletLarge from "../components/Billet_large.astro";
import Header from "../components/Header.astro"
import Main from "../layouts/main.astro"
import BilletSmall from "../components/Billet_small.astro";
---
<Main title="Billetter">
<Header heading="Billetter"/>
<section class="section1">
<div class="label"><a href="/camping">Camping</a></div>
<div class="clicked"><a href="/billetter">billetter</a></div>
<div class="label"><a href="/transport">transport</a></div>
</section>
<section class="section2">
    <BilletLarge head="Familiebillet" price="2125,-" date="10. - 13. juli" />
    <BilletLarge head="Partoutbillet" price="1825,-" date="10. - 13. juli"/>
    <BilletSmall head="Torsdag" price="925,-" date="11. juli"/>
    <BilletSmall head="fredag" price="1025,-" date="12. juli" soldOut={true}/>
    <BilletSmall head="lørdag" price="1025,-" date="13. juli" fewLeft={true}/>
</section>
</Main>

<style>
.section1 {
margin-top: var(--spacing-vertical-xsmall);
margin-bottom: var(--spacing-vertical-xsmall);
display: flex;
justify-content: center;
gap: var(--spacing-vertical-xsmall);
}
.clicked a {
    text-decoration: underline;
    color: var(--color-naturel-500);
}
a{
font-family: "proxima-nova", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: normal;
text-decoration: none;
text-transform: uppercase;
color: var(--color-button-linkbutton-text-default);
}
a:active{
color: var(--color-button-linkbutton-text-clicked);
}
.section2 {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-vertical-xsmall);
    max-width: 1000px;
    align-items: center;
    place-items: center;
    justify-content: center;   
    margin: 0 auto;
    margin-bottom: var(--spacing-vertical-large);
}
 
@media (max-width: 700px) {
.section1 {
    gap: var(--spacing-2);
}
a {
    font-size: 18px;
}
}
</style>