---
import Header from "../components/Header.astro"
import Main from "../layouts/main.astro"
import BilletTransport from "../components/Billet_transport.astro";
import Cta from "../components/Cta.astro";
---
<Main title="Transport">
<Header heading="Transport"/>
<section class="section1">
<div class="label"> <a href="/camping">Camping</a></div>
<div class="label"> <a href="/billetter">billetter</a></div>
<div class="clicked"> <a href="/transport">transport</a></div>
</section>
<section class="section2">
    <BilletTransport head="Betalings parkering" text="For dig der ønsker at parkere trygt nær festivalen."/>
    <BilletTransport head="Festivalbus" text="Mulighed for at blive kørt til og fra festivalen, så du kan lade bilen stå."/>
</section>
<section class="section3">
    <Cta head="Vil du vide mere om dine muligheder for transport og parkering?" href="/info" text="Se info"/>
</section>
</Main>
<style>
.section1 {
margin-top: var(--spacing-vertical-xsmall);
margin-bottom: var(--spacing-vertical-xsmall);
display: flex;
justify-content: center;
gap: var(--spacing-vertical-xsmall);
}

.clicked a {
    text-decoration: underline;
    color: var(--color-naturel-500);
}

a{
font-family: "proxima-nova", sans-serif;
font-weight: 700;
font-size: 20px;
line-height: normal;
text-decoration: none;
text-transform: uppercase;
color: var(--color-button-linkbutton-text-default);
}

a:active{
color: var(--color-button-linkbutton-text-clicked);
}


.section2 {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-vertical-xsmall);
    max-width: 1000px;
    align-items: center;
    place-items: center;
    justify-content: center;   
    margin: 0 auto;
}

.section3 {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    margin-top: var(--spacing-vertical-medium);
    margin-bottom: var(--spacing-vertical-large);
}
@media (max-width: 700px) {
    .section1 {
    gap: var(--spacing-2);
    }
  a{
font-size: 18px;
    }
    .section3 {
    margin-top: var(--spacing-vertical-small);
    margin-bottom: var(--spacing-vertical-small);
}
}
</style>