---
const {input} = Astro.props;
---
<div class="punkt">
<img src="/logos/small_logo.svg" alt="lille hjerte logo" width="32px" height="32px">
<p class="large">{input}</p>
</div>

<style>

.punkt {
    display: flex;
    padding: 10px;
}

.large {
    margin: 0;
    padding-left: var(--spacing-margin-small);
}
</style>