---
const {head} = Astro.props; 
---
<div>
    <a href="/">
    <h6>{head}</h6>
    </a>
</div>
<style>
div {
display: flex;
width: 170px;
height: 170px;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 360px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
h6 {
color: var(--color-cards-round-text-default, #0A0A0A);
text-align: center;    
}
a {
    background: var(--color-cards-round-background-default);
}
a:hover {
    background: var(--color-cards-round-background-hover);
}
a:active {
    background: var(--color-cards-round-background-active);
}
</style>