---
const {data} = Astro.props;
// console.log(data);
---
 <a href={"/artist/"+ data.slug}>
    <img src={"/lineup/" + data.img} alt={data.artist}>
    <h5>{data.artist}</h5>
</a>
<style>
a {
position: relative;
display: flex;
justify-content: center;
align-items: center;
border-radius: 360px;  
width: 272px;
height: 272px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
text-decoration: none;
overflow: hidden;
}
img {
height: 100%;
width: 100%;
border-radius: 360px;  
object-fit: cover;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
}
h5 {
color: var(--Color-naturel-100, #FFFFF3);
text-align: center;
position: absolute;
top: 25%;
left: 10%;
width: 80%;
line-height: 30px;
}
a:hover {
background: var(--color-cards-round-background-hover);
}
a:hover h5 {
color: var(--color-naturel-500);
}
a:hover img {
    display:none;
}
a:active{
background: var(--color-cards-round-background-active);
}
a:active h5 {
color: var(--color-text-normaltext-black);
}
a:active img {
    display:none;
}
@media (max-width: 700px) {
a {
width: 170px;
height: 170px;
}
h5 {
    word-wrap: break-word;
    top: 15%;
    left: 10%;
}
}
</style>