---
const {nav} = Astro.props;
---
<div>
    <h2>{nav}</h2>
</div>
<style>
div{
justify-content: center;
align-items: center;
}    
h2 {
color: var(--color-pink-200);
text-align: center;
margin: 0px;
line-height: 82px;
}
h2:hover {
color: var(--color-pink-300);
}  
h2:active {
color: var(--color-pink-400);   
} 
</style>