---
---

<div class="fotilbage">
    <p class="linkbuttontext">Få tilbage</p>
</div>


<style>
.fotilbage {
position: absolute;
transform: rotate(30deg);
padding: 20px 20px;
background: var(--color-pink-200); 
width: 173px;
left: 50%;
}

p {
color: var(--color-naturel-500);
text-align: center;
}
</style>